.feedback {
    --background: #707070;
    width: 265px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    box-shadow: none;
}
ion-input {
    --placeholder-color: white;
    --placeholder-opacity: 1;
}
ion-select {
    --placeholder-color: #707070;
    --placeholder-opacity: 1;
    margin-left: auto;
    margin-right: auto;
    color: #707070;
    font-size: 20px;
}
.select{
    -webkit-flex: none!important; 
    flex: none!important; 
}
ion-button {
    --background: #ff7a17;
    width: 80px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 40px;
    box-shadow: none;
  }