<ion-content>
  <div style="text-align: center;">
    <div style="margin-top: 5px; font-size: 20px; color: black">View Post Category</div>
    <ion-list>
      <ion-item lines="none" (click)="main()">All Posts</ion-item>
      <ion-item lines="none" (click)="sportsNOutdoors()">Sports & Outdoors</ion-item>
      <ion-item lines="none" (click)="artsNMusic()">Arts & Music</ion-item>
      <ion-item lines="none" (click)="games()">Games</ion-item>
      <ion-item lines="none" (click)="tech()">Tech</ion-item>
      <ion-item lines="none" (click)="pets()">Pets</ion-item>
      <ion-item lines="none" (click)="others()">Others</ion-item>
      <ion-item lines="none" (click)="myPosts()">My Posts</ion-item>
    </ion-list>
  </div>
</ion-content>
