<ion-content>
  <img style="display: block;margin-right: auto;margin-top: 5px;" width="90" height="30" src="../assets/logo/logo.png">
  <img style="display: block;margin-left: auto;margin-right: auto;" width="230" height="207" src="../assets/images/update_password.png">
  <br>
  <div *ngIf="email; else phone">
  <div style="color: #FF7A17;font-size: 25px;text-align: center;margin-bottom: 20px;">Update Password</div>
  <ion-list>
    <ion-item lines="none" class="input">
      <ion-input style="color: white;text-align: center;font-size: 17px;" type="text" placeholder="Current Password" [(ngModel)]="oldPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input">
      <ion-input style="color: white;text-align: center;font-size: 17px;" type="text" placeholder="New Password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input">
      <ion-input style="color: white;text-align: center;font-size: 17px;" type="text" placeholder="Confirm New Password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col>
        <ion-button style="text-transform: none;font-size: 20px;" (click)="updatePassword()" type="submit" expand="block">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
  </div>
  <ng-template #phone>
    <div style="color: #FF7A17;font-size: 25px;text-align: center;margin-bottom: 20px;">Update Mobile Number</div>
  <ion-list>
    <ion-item lines="none" class="select">
      <ion-select placeholder="Country Code" [(ngModel)]="cCode" (ngModelChange)="code()">
        <ion-label>Select Country Code</ion-label>
        <ion-select-option *ngFor="let country of countryList">+{{country.callingCodes}} | {{country.alpha3Code}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="input">
      <ion-input style="color: white;text-align: center;font-size: 17px;" type="text" placeholder="New Mobile Number" [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col>
        <ion-button style="text-transform: none;font-size: 20px;" (click)="updatePhoneNumber()" type="submit" expand="block">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
  <div style="margin-left: auto; margin-right: auto;" id='recaptcha'></div>
  </ng-template>
</ion-content>