ion-content {
  --background: #ffffff;
}

.phone {
  --background: #707070;
  width: 265px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  margin-bottom: 8px;
  box-shadow: none;
}
ion-input {
  --placeholder-color: white;
  --placeholder-opacity: 1;
}
ion-button {
  --background: #ff7a17;
  width: fit-content;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  --border-radius: 40px;
  box-shadow: none;
}
ion-select {
  --placeholder-color: #707070;
  --placeholder-opacity: 1;
  margin-left: auto;
  margin-right: auto;
  color: #707070;
  font-size: 20px;
}