<ion-header>
  <ion-toolbar>
    <img slot="start" width="135" height="45" src="../assets/logo/logo_white.png"/>
    <button slot="end" style="background-color: #FF7A17; margin-right: 10px;">
    <ion-menu-button> 
        <img src='../assets/icons/options_icon.png' width="45" height="30"> 
    </ion-menu-button> 
  </button>
  </ion-toolbar>
</ion-header>

<div slot="fixed" style="padding-bottom:5px; padding-top: 5px;">
  <ion-row>
  <ion-label style="margin-left: 8px; font-size: 30px">Games</ion-label>
  <ion-label style="font-size: 30px; color: #707070; padding-left: 10px;">{{postCount}}</ion-label>
  <div style="margin-left: auto; margin-right: 10px; margin-top: 5px;">
    <img src="../assets/icons/search.png" width="30" height="30" [routerLink]="['/search']">
    <img src="../assets/icons/filter.png" width="30" height="30" (click)="category()">
  </div>
</ion-row>
</div>

<ion-content>
  <div *ngIf="hasPosts; else noPosts">
    <ion-row>
      <ion-card
        *ngFor="let post of posts"
        [routerLink]="['/post-individual', post.id]"
      >
        <img
          style="display: block"
          src="{{post.post_image}}"
          width="400"
          height="300"
        />
      </ion-card>
    </ion-row>
  </div>
  <ng-template #noPosts>
    <div style="text-align: center;">
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <img src="../assets/images/empty.png" width="300" height="277">
      <div style="font-size: 40px; color: #FF7A17;">No posts yet :(</div>
      <div style="font-size: 35px; color: #707070;">Be the first to post!</div>
    </div>
  </ng-template>
  
  <ion-fab *ngIf="isAndroid" style="margin-right: 10px; margin-bottom: 5px;" vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/post-option']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
