<ion-content>
  <img style="margin-top: 5px; display: block;margin-right: auto;" width="90" height="30" src="../assets/logo/logo.png">
  <img style="display: block;margin-left: auto;margin-right: auto;" width="218" height="195" src="../assets/images/forgot_password_image.png">
  <div style="color: #FF7A17;font-size: 25px;text-align: center;">Forgot Password</div>
  <br>
  <ion-list>
    <ion-item lines="none">
      <ion-input style="color: white;text-align: center;font-size: 17px;" type="text" placeholder="Email Address" [(ngModel)]="forgotPasswordEmail"></ion-input>
    </ion-item>
    <br>
    <div style="color: #FF7A17;font-size: 15px;text-align: center;">A Password Recovery Email will be</div>
    <div style="color: #FF7A17;font-size: 15px;text-align: center;">sent to your Email Address.</div>
    <div style="color: #FF7A17;font-size: 15px;text-align: center;">Please follow the Email Instructions</div>
    <div style="color: #FF7A17;font-size: 15px;text-align: center;">to reset your Account Password.</div>
    <br>
    <ion-row>
      <ion-col>
        <ion-button style="text-transform: none;font-size: 20px;" (click)="forgotPassword()" type="submit" expand="block">Send</ion-button>
        <br>
        <div style="text-align: center;">
        <a style="color: #707070;text-decoration: none;font-size: 13px;" [routerLink]="['/login']">Back to Email Address Login</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>