<ion-content>
  <div style="text-align: center; margin-top: 15px;">
    <div>&nbsp;</div>
    <img style="display: block;margin-left: auto;margin-right: auto;" width="210" height="183" src="../assets/images/phone_login.png">
    <div style="font-size: 25px; color: #707070;">Passwords are so last year,</div>
    <div style="font-size: 25px; color: #FF7A17;">sign up for an account with</div>
    <div style="font-size: 25px; color: #FF7A17;">your mobile number today!</div>
    <div>&nbsp;</div>
    <ion-button style="text-transform: none;font-size: 20px; margin-bottom: 10px;" class="phone-login" type="submit" expand="block" (click)="phoneLogin()">Sign Up Now</ion-button>
    <ion-button style="text-transform: none;font-size: 20px;" class="close" type="submit" expand="block" (click)="close()">Close</ion-button>
    <div>&nbsp;</div>
  </div>
  
</ion-content>
