.phone-login {
    --background: #FF7A17;
    width: fit-content;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 40px;
    box-shadow: none;
}

.close {
    --background: red;
    width: fit-content;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 40px;
    box-shadow: none;
}